<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaiGiangPrm391"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".toast.ToastActivity"/>
        <activity android:name=".dialog.DialogActivity"/>
        <activity android:name=".fragment.FragmentStaticDefinitionActivity"/>
        <activity android:name=".fragment.FragmentDynamicDefinitionActivity"/>
        <activity android:name=".exercise.Exercise3Activity"/>
        <activity android:name=".exercise.DetailActivity"/>
        <activity android:name=".lab.Lab4_1Activity"/>
        <activity android:name=".lab.Lab4_2_3Activity"/>
    </application>

</manifest>